
<div class="card-header">
  <h6 class="lead text-center pt-2">Rails Application Action</h6>
</div>

<div class="card-body">
  <% @prompts.each_with_index do |prompt, index| %>

    <!-- Stimulus - a simple controller to focus on the first prompt -->
    <div class="p-3 m-3" id="needs-focus" data-controller="focus" data-focus-first-value="<%= index %>">
      <p class="my-2 text-secondary">
        Prompt <code><%= prompt.id %></code>
      </p>
      <p class="my-3">
        <% if prompt.actioned == false %>
          <code>
            <%= "Missing a valid [VARIABLE_NAME] in prompt response #{prompt.id}: '#{prompt.message_content}'" %>
          </code>
        <% else %>
          <code><%= prompt.actionable&.inspect || prompt.action %></code>
        <% end %>
      </p>

      <p class="my-3 text-secondary">
        Actioned: <i class="bi bi-<%= prompt.actioned ? 'check' : 'x' %>-circle"></i>
      </p>
    </div>
  <% end %>
</div>
