<div class="card-header">
  <h6 class="lead text-center pt-2">AI Generated Response</h6>
</div>
<div class="card-body">
  <% @prompts.each do |prompt| %>
    <div class="p-3 m-3">
      <div class="row">
        <div class="col-sm-11 pt-2 text-secondary">
          Prompt: <code><%= prompt.id %></code>
        </div>
        <div class="col-sm-1 ">
          <!-- Regenerate prompt with hotwire -->
          <%= turbo_frame_tag "first_turbo_frame" do %>
            <%= button_to prompts_path(prompt: { text: prompt.input }), class: 'btn btn-light text-secondary border' do %>
              <i class="bi bi-bootstrap-reboot"></i>
            <% end %>
          <% end %>
        </div>
      </div>


      <p class="my-3">
        <code><%= prompt.input %></code>
      </p>
      <p class="my-3 text-secondary">
        AI response hash or string:
      </p>
      <code><%= JSON.pretty_generate(prompt.message_content) %></code>
      <p class="my-3 text-secondary">
        AI response object:
      </p>
      <code><%= JSON.pretty_generate(prompt.output) %></code>

      <p class="my-3 text-secondary">
        Actioned: <i class="bi bi-<%= prompt.actioned ? 'check' : 'x' %>-circle"></i>
      </p>
    </div>
  <% end %>
</div>
