<!DOCTYPE html>
<html>
  <head>
    <title>Formless</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-light-subtle">
    <div class="text-secondary text-sm-end container pt-4">
      <code>
        <%= remote_ip_address %>
      </code>
    </div>
    <div class="text-center">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= flash_class(key) %>" role="alert">
          <%= value %>
        </div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
