<!DOCTYPE html>
<html>
  <head>
    <title>Formless</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-light-subtle">
    <!-- Move to _flash partial -->
    <div class="text-center">
      <% flash.each do |key, value| %>
        <% set_style_class = flash_class(key) %>
        <% next unless set_style_class %>
        <div class="alert alert-<%= set_style_class %>" role="alert">
          <%= value %>
        </div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
